name: testback deployment

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: testback build & deploy
    runs-on: ubuntu-latest

    steps:
      - name: github action
        run: echo "github action"
